* {
    bg1:        #003865;      // message box bg and entry bg
    bg2:        #003865CC;      // todofi background color
    primary:    #236192;        // inputbar border and text
    secondary:  #FF6200;        // selected element + prompt
    tertiary:   #A5D1F3;        // todofi main text
    strongtext: #FFFFFF;        // message text + input text
    weaktext:   #A5D1F3;      // normal elements + todofi message text + frame around message box + placeholder text
    bggradient: linear-gradient(to top, #003865CC, #0c1325FF);  //body
}