* {
    bg1:    #161320;            // message box bg and entry bg
    bg2:    #161320CC;          // todofi background color
    primary:    #5882AD;        // Inputbar border and text
    secondary:  #D898D8;        // selected element + prompt
    tertiary:   #7dbeff;        // todofi main text
    strongtext: #FFFFFF;        // message text + input text
    weaktext:   #7dbeff99;      // normal elements + todofi message text + frame around message box + placeholder text
    bggradient: linear-gradient(to top, #161320CC, #161320FF);
}