:root{
	--max-box-width: 350px;
	--cile-line-width:unset;
}
.mindmap{}
.mindmap ul:first-child{margin-left: 10px}
.mindmap ul{  
	position: relative;
  	margin-left: var(--max-box-width);
  	list-style: none;
}
.mindmap ul li{
	position: relative;
  	min-height: 60px;
	word-wrap: break-word;
	
	border: 1px solid var(--interactive-accent);
}