* {
    border: none;
    border-radius: 10px;
    font-family: 'Agave Nerd Font Mono',Roboto;
    /* font-size: 20px; */
    min-height: 10px;
}

window#waybar {
    background: rgba(16, 4, 4, 0.5);
}

window#waybar.hidden {
    opacity: 0.2;
}

/* .modules-left { */
/*     background: rgba(51, 87, 121, 0.4)  */
/* } */
/**/
/* .modules-center { */
/*     background: rgba(120, 120, 120, 0.4) */
/* } */
/**/
/* .modules-right { */
/*     background: rgba(161, 46, 94, 0.4) */
/* } */

#window {
    margin-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
    transition: none;
    color: transparent;
    background: transparent;
}
#workspaces {
    margin-top: 6px;
    margin-left: 12px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    font-size: 32px;
}
#workspaces button {
    transition: none;
    color: #F28FAD;
    background: transparent;
    font-size: 32px;
    border-radius: 4px;
}

#workspaces button:first-child{
    margin-left: 0px;
}

#workspaces button:last-child{
    margin-right: 0px;
}

#workspaces button.persistent {
    color: #d13148;
}
#workspaces button.empty {
    color: #3c485d;
}
#workspaces button.occupied {
    transition: none;
    color: #F28FAD;
    background: transparent;
}
#workspaces button.active{
    color: #6DC9BE;
    /*font-size: 32px;*/
}
#workspaces button.visible {
    color: #6DC9BE;
}

#workspaces button.urgent {
    color: #f2c97d;
    border-color: #f2c97d;
}


#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    border-color: #f2c97d;
    color: #f2c97d;
}

#workspaces button.active:hover {
/*    color: #009fb7;*/
    border-color: #f2c97d;
}
#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-power,
#mpd {
    padding: 8px 10px;
    color: #6DC9BE;
    font-size: 32px;
}
#clock{ padding: 0; font-size: 20px; color:#FFF }

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

@keyframes blink {
    to {
        background-color: unset;
        color: #FF0000;
    }
}

#battery.critical:not(.charging) {
    background-color: #6394C5;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
/*    animation-direction: alternate;*/
}

label:focus {
    background-color: #000000;
}

#pulseaudio {
    padding: 0 10px;
    color: #d13148;
}

#tray {
    background-color: #987081;
    font-size: 16px;
}

#battery {
    padding: 0 10px;
    color: #6DC9BE;
    background-color: transparent;
}
#network {
    padding: 0 10px;
    color: #6DC9BE;
}

#custom-time {
    padding: 0 10px;
    color: #6DC9BE;
}
#custom-line{
    color:#f78da4;
    font-size: 24px;
}
#custom-power{
    color:#55bccf;
}
#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

