* {
    border: none;
    border-radius: 10px;
    font-family: "agave nerd font", Roboto;
    font-size: 24px;
    min-height: 10px;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#window {
    margin-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
    transition: none;
    color: transparent;
    background: transparent;
}
#workspaces {
    margin-top: 6px;
    margin-left: 12px;
    margin-bottom: 0px;
    border-radius: 10px;
    background: rgba(22, 19, 32,0.6);
    transition: none;
}

#workspaces button {
    transition: none;
    color: #74998f;
    background: transparent;
    border-radius: 4px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    padding:3px 15px 3px 10px;
}
#workspaces button:first-child{
    margin-left: 10px;
}
#workspaces button:last-child{
    margin-right: 15px;
}
#workspaces button.occupied {
    transition: none;
    color: #72baac;
    background: transparent;
    font-size: 4px;
}

#workspaces button.active {
    color: #F79E8D;
    border-color: #F79E8D;
}
#workspaces button.urgent {
    color: #8c1846;
    border-color: #8c1846;
}

#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    border-color: #72baac;
    color: #72baac;
}

#workspaces button.active:hover {
/*    color: #325379;*/
    border-color: #D898D8;
}
#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}
.modules-right{
    background-color: rgba(51, 75, 99,0.8);

}
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    color: #F79E8D;
    font-size: 14px;
}

#window{}
#workspaces {
    margin: 0 20px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


@keyframes blink {
    to {
        background-color: unset;
        color: #FF0000;
    }
}

#battery.critical:not(.charging) {
    background-color: #6394C5;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
/*    animation-direction: alternate;*/
}

label:focus {
    background-color: #000000;
}

#tray {
/*    background-color: #2980b9;*/
    font-size: 10px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}