* {
    bg1:        #0c1325;      // message box bg and entry bg
    bg2:        #0c1325CC;      // todofi background color
    primary:    #3c7f8b;        // inputbar border and text
    secondary:  #f78da4;        // selected element + prompt
    tertiary:   #b1dfe7;        // todofi main text
    strongtext: #FFFFFF;        // message text + input text
    weaktext:   #6db4c0;      // normal elements + todofi message text + frame around message box + placeholder text
    bggradient: linear-gradient(to top, #122239CC, #0c1325FF);  //body
}