* {
    border: none;
    border-radius: 10px;
    font-family: 'Agave Nerd Font Mono',Roboto;
/*    font-size: 24px;*/
    min-height: 10px;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}
.modules-left{margin-top: 3px;
    background: rgba(63,74,90,0.6);}
.modules-right{
    margin-bottom: 3px;
    background-color: rgba(63,74,90,0.8);
}
#window {
    margin-top: 6px;
    padding-left: 10px;
    padding-right: 0px;
    border-radius: 6px;
    transition: none;
    color: transparent;
    background: transparent;
}
#workspaces {
/*    margin-top: 6px;*/
/*    margin-left: 12px;*/
/*    margin-bottom: 0px;*/
    border-radius: 10px;
    
    transition: none;
    font-size: 48px;
}

#workspaces button {
    transition: none;
    color: rgba(114, 186, 172, 0.8);
    background: transparent;
    border-radius: 6px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    padding:4px;
}
#workspaces button:first-child{
/*    margin-left: 10px;*/
}
#workspaces button:last-child{
    /*padding-left: 8px;
    padding-right: 20px;*/
}
#workspaces button.occupied {
    transition: none;
    color: #F79E8D;
    background: transparent;
    font-size: 4px;
}
#workspaces button.persistent {
    color: rgba(114, 186, 172, 0.8);
}
#workspaces button.active {
    color: #F79E8D;
    border-color: #F79E8D;
}
#workspaces button.urgent {
    color: #FF7B89;
    border-color: #FF7B89;
}

#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    border-color: #72baac;
    color: #72baac;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#battery
#mpd {
    padding: 6px 0px;
    color: #A5CAD2;
    font-size: 32px;
}
#clock{ font-size:32px; padding:0;color: #ffffff;}
#custom-line{
    color:#ddd;
    font-size: 32px;
}
#network{font-size: 48px}
/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


@keyframes blink {
    to {
        background-color: unset;
        color: #FF0000;
    }
}

#battery.critical:not(.charging) {
    background-color: #A5CAD2;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
/*    animation-direction: alternate;*/
}

label:focus {
    background-color: #000000;
}

#tray {
    font-size: 32px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
